
nav{color: rgb(626568);
text-transform: uppercase;
font-size: 14px;
text-indent: 30px;
}
/* line-height */
.link:hover {color: red;}
body{
    color: rgb(62, 62, 62);
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    font-style: regular;
}
.title {font-style: light;
    font-family: 'Ubuntu', sans-serif;
text-transform: uppercase;}
.box {background-color: sienna;
    height: 110px;
    width: 71px;
}
h3{font-size: 30px;}